<aside>
    <div  class="main"  >
        <div class="sidebar left">
            <ul class="list-sidebar bg-defoult">
                <li class="icon">  <a href="#">
                        <i class="fab fa-adversal" class="button-left"  title="Mes offres"></i>
                        <span class="nav-label"> Mes offres </span>
                    </a>
                </li>
                <li class="icon "> <a href="#">
                        <i class="fab fa-affiliatetheme" title="Mes demandes"></i>
                        <span class="nav-label">Mes demandes</span>
                    </a>
                </li>
                <li class="icon "> <a href="#"  >
                        <i class="fas fa-handshake" class="button-left" title="Offres suggérées"></i>
                        <span class="nav-label">Offres suggérées</span>
                    </a>
                </li>
                <li> <a href="#">
                        <i class="fas fa-coffee" class="button-left" title="Café"></i>
                        <span class="nav-label">Café</span>
                    </a>
                </li>
                <li> <a href="#">
                        <i class="fas fa-bed" class="button-left" title="Hébergement"></i>
                        <span class="nav-label">Hébergement</span>
                    </a>
                </li>
                <li> <a href="#">
                        <i class="fas fa-car" class="button-left" title="Covoiturage"></i>
                        <span class="nav-label">Covoiturage</span>
                    </a>
                </li>
                <li> <a href="#">
                        <i class="far fa-calendar-check" class="button-left" title="Sortie"></i>
                        <span class="nav-label">Sortie</span>
                    </a>
                </li>
                <li> <a href="#" >
                        <i class="fab fa-gratipay" class="button-left" title="Favoris"></i>
                        <span class="nav-label">Favoris</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>